# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# IDE
.idea/
*.iml
.vscode/
.DS_Store

# Git
.git/
.github/
.gitignore

# Documentation
*.md
!README.md

# CI/CD
Jenkinsfile
.github.zip

# Misc
*.log
